flows_garage-sprinkler.json
[
    {
        "id": "f25cd622.40f3a8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "31d87628.4e2f2a",
        "type": "mqtt-broker",
        "z": "",
        "name": "test-1",
        "broker": "192.168.1.100",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "db32d5a1.c57768",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Sprinkler Pi",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e10508d8.3a5aa8",
        "type": "ui_tab",
        "z": "",
        "name": "Sprinklers",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "1811219a.04424e",
        "type": "ui_group",
        "z": "",
        "name": "Buttons",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "3e220f7d.c2e5a",
        "type": "serial-port",
        "z": "",
        "serialport": "",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "ff5079fd.0a64f8",
        "type": "ui_group",
        "z": "",
        "name": "Garage Raspberries Swingset 8",
        "tab": "e10508d8.3a5aa8",
        "order": 1,
        "disp": false,
        "width": "32",
        "collapse": false
    },
    {
        "id": "29239368.3d0aec",
        "type": "ui_group",
        "z": "",
        "name": "Backside of House",
        "tab": "e10508d8.3a5aa8",
        "order": 2,
        "disp": false,
        "width": "32",
        "collapse": false
    },
    {
        "id": "38beea6e.3c2ab6",
        "type": "ui_group",
        "z": "",
        "name": "East Side Hill Fence",
        "tab": "e10508d8.3a5aa8",
        "order": 3,
        "disp": false,
        "width": "32",
        "collapse": false
    },
    {
        "id": "7c950725.f616a8",
        "type": "ui_group",
        "z": "",
        "name": "Line 5",
        "tab": "e10508d8.3a5aa8",
        "order": 4,
        "disp": false,
        "width": "32",
        "collapse": false
    },
    {
        "id": "7d0c2b21.9504a4",
        "type": "ui_group",
        "z": "",
        "name": "Line 4",
        "tab": "e10508d8.3a5aa8",
        "order": 5,
        "disp": false,
        "width": "32",
        "collapse": false
    },
    {
        "id": "4a372ec2.fb922",
        "type": "ui_group",
        "z": "",
        "name": "Line 3",
        "tab": "e10508d8.3a5aa8",
        "order": 6,
        "disp": false,
        "width": "32",
        "collapse": false
    },
    {
        "id": "da27fc66.7cdb9",
        "type": "ui_group",
        "z": "",
        "name": "Line 2",
        "tab": "e10508d8.3a5aa8",
        "order": 7,
        "disp": false,
        "width": "32",
        "collapse": false
    },
    {
        "id": "6feae7e8.762c38",
        "type": "ui_group",
        "z": "",
        "name": "Line 1",
        "tab": "e10508d8.3a5aa8",
        "order": 8,
        "disp": false,
        "width": "32",
        "collapse": false
    },
    {
        "id": "8e3f3444.167218",
        "type": "ui_group",
        "z": "",
        "name": "Settings",
        "tab": "e10508d8.3a5aa8",
        "order": 9,
        "disp": false,
        "width": "32",
        "collapse": false
    },
    {
        "id": "9a5a8463.fdc728",
        "type": "rpi-gpio out",
        "z": "f25cd622.40f3a8",
        "name": "1- garden",
        "pin": "7",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1920,
        "y": 1280,
        "wires": []
    },
    {
        "id": "33eee930.eae6a6",
        "type": "rpi-gpio out",
        "z": "f25cd622.40f3a8",
        "name": "7 back side",
        "pin": "18",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1930,
        "y": 580,
        "wires": []
    },
    {
        "id": "346ce32b.51c1ec",
        "type": "rpi-gpio out",
        "z": "f25cd622.40f3a8",
        "name": "8- swing set",
        "pin": "22",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1930,
        "y": 480,
        "wires": []
    },
    {
        "id": "352f886a.199148",
        "type": "rpi-gpio out",
        "z": "f25cd622.40f3a8",
        "name": "2 below garden",
        "pin": "11",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1940,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1efa8e39.cd2c32",
        "type": "rpi-gpio out",
        "z": "f25cd622.40f3a8",
        "name": "6 east house",
        "pin": "16",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1930,
        "y": 680,
        "wires": []
    },
    {
        "id": "905e1b28.92aa98",
        "type": "rpi-gpio out",
        "z": "f25cd622.40f3a8",
        "name": "3 bad line",
        "pin": "13",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1920,
        "y": 1020,
        "wires": []
    },
    {
        "id": "c8b3b04b.2363d",
        "type": "rpi-gpio out",
        "z": "f25cd622.40f3a8",
        "name": "4 patio",
        "pin": "15",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1910,
        "y": 980,
        "wires": []
    },
    {
        "id": "d4de30dc.01ea",
        "type": "rpi-gpio out",
        "z": "f25cd622.40f3a8",
        "name": "5 hose line",
        "pin": "12",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1930,
        "y": 780,
        "wires": []
    },
    {
        "id": "ae60ac8d.66a61",
        "type": "ui_numeric",
        "z": "f25cd622.40f3a8",
        "name": "Time-set 8",
        "label": "Garage - Swingset Area 8 --  Set Time",
        "tooltip": "",
        "group": "ff5079fd.0a64f8",
        "order": 1,
        "width": "8",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 450,
        "y": 740,
        "wires": [
            [
                "7ae50bdc.246794"
            ]
        ]
    },
    {
        "id": "8848239.22545e",
        "type": "ui_text",
        "z": "f25cd622.40f3a8",
        "group": "ff5079fd.0a64f8",
        "order": 4,
        "width": "5",
        "height": "1",
        "name": "8-remaining",
        "label": "Time Remaining",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1770,
        "y": 500,
        "wires": []
    },
    {
        "id": "f9a025d.71aa9d8",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Start 8",
        "group": "ff5079fd.0a64f8",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 460,
        "wires": [
            [
                "24787281.d7d72e"
            ]
        ]
    },
    {
        "id": "24787281.d7d72e",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "8 Remaining Set",
        "func": "var g = global.get(\"sp8\") + 1;\nglobal.set(\"sp8Remaining\",g);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 460,
        "wires": [
            [
                "63142595.2dde8c"
            ]
        ]
    },
    {
        "id": "63142595.2dde8c",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "8 Remaining Minus",
        "func": "\nvar msg2 = {};\nvar r = global.get(\"sp8Remaining\");\n\n\nif (r > 0) {\n    r -= 1;\n    \n    msg.payload = 0;\n    }\n    \n    \nif (r < 1) {\n     msg.payload = 1;\n     \n    }\n    \nglobal.set(\"sp8Remaining\",r)  \nmsg2.payload = r;\n\n\nreturn [msg, msg2];\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 1590,
        "y": 500,
        "wires": [
            [
                "44bf599f.8a7778",
                "346ce32b.51c1ec"
            ],
            [
                "8848239.22545e"
            ]
        ]
    },
    {
        "id": "413d7f87.86c05",
        "type": "exec",
        "z": "f25cd622.40f3a8",
        "command": "for i in /var/lib/motion/old/*; do sudo rm -f \"$i\"; done",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Remove old",
        "x": 1450,
        "y": 80,
        "wires": [
            [
                "9dee28cc.c0f078"
            ],
            [],
            []
        ]
    },
    {
        "id": "994ffa82.62ab58",
        "type": "debug",
        "z": "f25cd622.40f3a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "6a4cac7.9cd9254",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "Monday",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 12 * * 1",
        "once": false,
        "onceDelay": 0.1,
        "x": 1270,
        "y": 80,
        "wires": [
            [
                "413d7f87.86c05"
            ]
        ]
    },
    {
        "id": "9dee28cc.c0f078",
        "type": "exec",
        "z": "f25cd622.40f3a8",
        "command": "for i in /var/lib/motion/*.*; do sudo mv \"$i\" /var/lib/motion/old/; done",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "move currant",
        "x": 1620,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "60a812f4.e56e1c",
        "type": "comment",
        "z": "f25cd622.40f3a8",
        "name": "Backup - remove old Motion Files",
        "info": "This deletes all images and video in\n/var/lib/motion/old/ and then moves all\ncurrant files from /var/lib/motion/\nto the old directory.\nNow set to run each Monday.\n",
        "x": 1420,
        "y": 40,
        "wires": []
    },
    {
        "id": "9705ba47.55e1a8",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get 8",
        "func": "\n\nmsg.payload = flow.get(\"s8\", \"storeInFile\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 740,
        "wires": [
            [
                "ae60ac8d.66a61"
            ]
        ]
    },
    {
        "id": "7ae50bdc.246794",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Store 8",
        "func": "// sp8Remaining ticking down global variable\n// sp8 time setting for zone, stored in file\n\n\n// store in file to survive restart\nflow.set(\"s8\", msg.payload, \"storeInFile\");\n\n\n// store in global for calculations\nglobal.set(\"sp8\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "70ef2a28.e46314",
        "type": "exec",
        "z": "f25cd622.40f3a8",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "REBOOT",
        "x": 1040,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d4888b2b.0ae6f8",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "Git",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "b76e80de.af1c7"
            ]
        ]
    },
    {
        "id": "b76e80de.af1c7",
        "type": "exec",
        "z": "f25cd622.40f3a8",
        "command": "cd /home/pi/.node-red/; ./sync.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Git",
        "x": 410,
        "y": 80,
        "wires": [
            [
                "994ffa82.62ab58"
            ],
            [
                "994ffa82.62ab58"
            ],
            [
                "994ffa82.62ab58"
            ]
        ]
    },
    {
        "id": "40302e8b.2255a",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "REBOOT",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 860,
        "y": 80,
        "wires": [
            [
                "70ef2a28.e46314"
            ]
        ]
    },
    {
        "id": "44bf599f.8a7778",
        "type": "ui_led",
        "z": "f25cd622.40f3a8",
        "group": "ff5079fd.0a64f8",
        "order": 5,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED",
        "x": 2070,
        "y": 460,
        "wires": []
    },
    {
        "id": "6440f8cf.a5cac8",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "9705ba47.55e1a8",
                "e0dd73d1.412a5",
                "1544eaad.ad2b85",
                "28a08bae.9e6734",
                "5164acc.9eb3c54",
                "e248ae5.c51645",
                "8432a345.f4b13",
                "2e815779.ac9958",
                "ed15e7db.d3e488"
            ]
        ]
    },
    {
        "id": "c6780e6f.89632",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "1 minute inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1360,
        "y": 880,
        "wires": [
            [
                "63142595.2dde8c",
                "f5002618.b97468",
                "f38b3234.1ca",
                "fae8f340.280a5",
                "9adcb962.613b48",
                "6e3195a8.f567ac",
                "2cd6ee9e.ba7d72",
                "b95c3244.9bf3c"
            ]
        ]
    },
    {
        "id": "a37edb59.6f3368",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Stop 8",
        "group": "ff5079fd.0a64f8",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 500,
        "wires": [
            [
                "782c5e8c.78f3"
            ]
        ]
    },
    {
        "id": "782c5e8c.78f3",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "8 Remaining Stop",
        "func": "\nglobal.set(\"sp8Remaining\", 0);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 500,
        "wires": [
            [
                "63142595.2dde8c"
            ]
        ]
    },
    {
        "id": "e0dd73d1.412a5",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get 7",
        "func": "\n\nmsg.payload = flow.get(\"s7\", \"storeInFile\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 780,
        "wires": [
            [
                "ab480505.fa67c8"
            ]
        ]
    },
    {
        "id": "ab480505.fa67c8",
        "type": "ui_numeric",
        "z": "f25cd622.40f3a8",
        "name": "Time-set 7",
        "label": "Back Wall of House 7 --  Set Time",
        "tooltip": "",
        "group": "29239368.3d0aec",
        "order": 1,
        "width": "8",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 450,
        "y": 780,
        "wires": [
            [
                "a90e16e7.e29318"
            ]
        ]
    },
    {
        "id": "d7e9a708.ea3188",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Start 7",
        "group": "29239368.3d0aec",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 560,
        "wires": [
            [
                "773c9b69.95c0b4"
            ]
        ]
    },
    {
        "id": "68e66292.c70a2c",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Stop 7",
        "group": "29239368.3d0aec",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 600,
        "wires": [
            [
                "e95ea8d6.db4a58"
            ]
        ]
    },
    {
        "id": "3a77538d.a4793c",
        "type": "ui_text",
        "z": "f25cd622.40f3a8",
        "group": "29239368.3d0aec",
        "order": 4,
        "width": "5",
        "height": "1",
        "name": "7-remaining",
        "label": "Time Remaining",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1770,
        "y": 600,
        "wires": []
    },
    {
        "id": "de54a589.a4b5a8",
        "type": "ui_led",
        "z": "f25cd622.40f3a8",
        "group": "29239368.3d0aec",
        "order": 5,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED",
        "x": 2070,
        "y": 560,
        "wires": []
    },
    {
        "id": "a90e16e7.e29318",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Store 7",
        "func": "// sp8Remaining ticking down global variable\n// sp8 time setting for zone, stored in file\n\n\n// store in file to survive restart\nflow.set(\"s7\", msg.payload, \"storeInFile\");\n\n\n// store in global for calculations\nglobal.set(\"sp7\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "773c9b69.95c0b4",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "7 Remaining Set",
        "func": "var g = global.get(\"sp7\") + 1;\nglobal.set(\"sp7Remaining\",g);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 560,
        "wires": [
            [
                "f5002618.b97468"
            ]
        ]
    },
    {
        "id": "f5002618.b97468",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "7 Remaining Minus",
        "func": "\nvar msg2 = {};\nvar r = global.get(\"sp7Remaining\");\n\n\nif (r > 0) {\n    r -= 1;\n    \n    msg.payload = 0;\n    }\n    \n    \nif (r < 1) {\n     msg.payload = 1;\n     \n    }\n    \nglobal.set(\"sp7Remaining\",r)  \nmsg2.payload = r;\n\n\nreturn [msg, msg2];\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 1590,
        "y": 600,
        "wires": [
            [
                "de54a589.a4b5a8",
                "33eee930.eae6a6"
            ],
            [
                "3a77538d.a4793c"
            ]
        ]
    },
    {
        "id": "e95ea8d6.db4a58",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "7 Remaining Stop",
        "func": "\nglobal.set(\"sp7Remaining\", 0);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 600,
        "wires": [
            [
                "f5002618.b97468"
            ]
        ]
    },
    {
        "id": "1544eaad.ad2b85",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get 6",
        "func": "\n\nmsg.payload = flow.get(\"s6\", \"storeInFile\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 820,
        "wires": [
            [
                "5c83f926.f47588"
            ]
        ]
    },
    {
        "id": "5c83f926.f47588",
        "type": "ui_numeric",
        "z": "f25cd622.40f3a8",
        "name": "Time-set 6",
        "label": "East Side Hill 6 -- Set Time",
        "tooltip": "",
        "group": "38beea6e.3c2ab6",
        "order": 1,
        "width": "8",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 450,
        "y": 820,
        "wires": [
            [
                "e3b2512.a4d5cb"
            ]
        ]
    },
    {
        "id": "dffd532c.94cb5",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Start 6",
        "group": "38beea6e.3c2ab6",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 660,
        "wires": [
            [
                "e7b87641.6ab998"
            ]
        ]
    },
    {
        "id": "6d4079dd.0fe438",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Stop 6",
        "group": "38beea6e.3c2ab6",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 700,
        "wires": [
            [
                "5786d088.13b6d"
            ]
        ]
    },
    {
        "id": "4fc8e7fb.9b5fa8",
        "type": "ui_text",
        "z": "f25cd622.40f3a8",
        "group": "38beea6e.3c2ab6",
        "order": 4,
        "width": "5",
        "height": "1",
        "name": "6-remaining",
        "label": "Time Remaining",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1770,
        "y": 700,
        "wires": []
    },
    {
        "id": "c92a09d7.7be338",
        "type": "ui_led",
        "z": "f25cd622.40f3a8",
        "group": "38beea6e.3c2ab6",
        "order": 5,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED",
        "x": 2070,
        "y": 660,
        "wires": []
    },
    {
        "id": "e3b2512.a4d5cb",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Store 6",
        "func": "// sp8Remaining ticking down global variable\n// sp8 time setting for zone, stored in file\n\n\n// store in file to survive restart\nflow.set(\"s6\", msg.payload, \"storeInFile\");\n\n\n// store in global for calculations\nglobal.set(\"sp6\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "e7b87641.6ab998",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "6 Remaining Set",
        "func": "var g = global.get(\"sp6\") + 1;\nglobal.set(\"sp6Remaining\",g);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 660,
        "wires": [
            [
                "f38b3234.1ca"
            ]
        ]
    },
    {
        "id": "f38b3234.1ca",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "6 Remaining Minus",
        "func": "\nvar msg2 = {};\nvar r = global.get(\"sp6Remaining\");\n\n\nif (r > 0) {\n    r -= 1;\n    \n    msg.payload = 0;\n    }\n    \n    \nif (r < 1) {\n     msg.payload = 1;\n     \n    }\n    \nglobal.set(\"sp6Remaining\",r)  \nmsg2.payload = r;\n\n\nreturn [msg, msg2];\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 1590,
        "y": 700,
        "wires": [
            [
                "c92a09d7.7be338",
                "1efa8e39.cd2c32"
            ],
            [
                "4fc8e7fb.9b5fa8"
            ]
        ]
    },
    {
        "id": "5786d088.13b6d",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "6 Remaining Stop",
        "func": "\nglobal.set(\"sp6Remaining\", 0);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 700,
        "wires": [
            [
                "f38b3234.1ca"
            ]
        ]
    },
    {
        "id": "12409451.a9bb6c",
        "type": "ui_led",
        "z": "f25cd622.40f3a8",
        "group": "7c950725.f616a8",
        "order": 5,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED",
        "x": 2070,
        "y": 760,
        "wires": []
    },
    {
        "id": "57090061.f97ce",
        "type": "ui_led",
        "z": "f25cd622.40f3a8",
        "group": "7d0c2b21.9504a4",
        "order": 5,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED",
        "x": 2070,
        "y": 960,
        "wires": []
    },
    {
        "id": "c0a871c4.c0632",
        "type": "ui_led",
        "z": "f25cd622.40f3a8",
        "group": "4a372ec2.fb922",
        "order": 5,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED",
        "x": 2070,
        "y": 1100,
        "wires": []
    },
    {
        "id": "99a1a21c.678f1",
        "type": "ui_led",
        "z": "f25cd622.40f3a8",
        "group": "da27fc66.7cdb9",
        "order": 5,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED",
        "x": 2070,
        "y": 1100,
        "wires": []
    },
    {
        "id": "4fd2082e.681c98",
        "type": "ui_led",
        "z": "f25cd622.40f3a8",
        "group": "6feae7e8.762c38",
        "order": 5,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED",
        "x": 2030,
        "y": 1260,
        "wires": []
    },
    {
        "id": "28a08bae.9e6734",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get 5",
        "func": "\n\nmsg.payload = flow.get(\"s5\", \"storeInFile\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 860,
        "wires": [
            [
                "542e90bb.f6598"
            ]
        ]
    },
    {
        "id": "542e90bb.f6598",
        "type": "ui_numeric",
        "z": "f25cd622.40f3a8",
        "name": "Time-set 5",
        "label": "Line 5 -- Set Time",
        "tooltip": "",
        "group": "7c950725.f616a8",
        "order": 1,
        "width": "8",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 450,
        "y": 860,
        "wires": [
            [
                "339dc0be.ba3c7"
            ]
        ]
    },
    {
        "id": "b3b8a19e.b9511",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Start 5",
        "group": "7c950725.f616a8",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 760,
        "wires": [
            [
                "6964673b.615bf8"
            ]
        ]
    },
    {
        "id": "aaf7a69b.18d108",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Stop 5",
        "group": "7c950725.f616a8",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 800,
        "wires": [
            [
                "eab7faf2.8b96e8"
            ]
        ]
    },
    {
        "id": "c79cbdbd.dfcfa",
        "type": "ui_text",
        "z": "f25cd622.40f3a8",
        "group": "7c950725.f616a8",
        "order": 4,
        "width": "5",
        "height": "1",
        "name": "5-remaining",
        "label": "Time Remaining",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1770,
        "y": 800,
        "wires": []
    },
    {
        "id": "339dc0be.ba3c7",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Store 5",
        "func": "// sp8Remaining ticking down global variable\n// sp8 time setting for zone, stored in file\n\n\n// store in file to survive restart\nflow.set(\"s5\", msg.payload, \"storeInFile\");\n\n\n// store in global for calculations\nglobal.set(\"sp5\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "6964673b.615bf8",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "5 Remaining Set",
        "func": "var g = global.get(\"sp5\") + 1;\nglobal.set(\"sp5Remaining\",g);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 760,
        "wires": [
            [
                "fae8f340.280a5"
            ]
        ]
    },
    {
        "id": "fae8f340.280a5",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "5 Remaining Minus",
        "func": "\nvar msg2 = {};\nvar r = global.get(\"sp5Remaining\");\n\n\nif (r > 0) {\n    r -= 1;\n    \n    msg.payload = 0;\n    }\n    \n    \nif (r < 1) {\n     msg.payload = 1;\n     \n    }\n    \nglobal.set(\"sp5Remaining\",r)  \nmsg2.payload = r;\n\n\nreturn [msg, msg2];\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 1590,
        "y": 800,
        "wires": [
            [
                "12409451.a9bb6c",
                "d4de30dc.01ea"
            ],
            [
                "c79cbdbd.dfcfa"
            ]
        ]
    },
    {
        "id": "eab7faf2.8b96e8",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "5 Remaining Stop",
        "func": "\nglobal.set(\"sp5Remaining\", 0);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 800,
        "wires": [
            [
                "fae8f340.280a5"
            ]
        ]
    },
    {
        "id": "5164acc.9eb3c54",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get 4",
        "func": "\n\nmsg.payload = flow.get(\"s4\", \"storeInFile\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 900,
        "wires": [
            [
                "e85970f9.b425b"
            ]
        ]
    },
    {
        "id": "e85970f9.b425b",
        "type": "ui_numeric",
        "z": "f25cd622.40f3a8",
        "name": "Time-set 4",
        "label": "Back Patio 4 -- Set Time",
        "tooltip": "",
        "group": "7d0c2b21.9504a4",
        "order": 1,
        "width": "8",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 450,
        "y": 900,
        "wires": [
            [
                "fbedc6cb.3e7bf8"
            ]
        ]
    },
    {
        "id": "aa7d3d0.c696ec",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Start 4",
        "group": "7d0c2b21.9504a4",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 960,
        "wires": [
            [
                "d1cf668d.fdca18"
            ]
        ]
    },
    {
        "id": "f2b59a20.a3db38",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Stop 4",
        "group": "7d0c2b21.9504a4",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 1000,
        "wires": [
            [
                "f06bbd77.0022a"
            ]
        ]
    },
    {
        "id": "6cc5272a.4160b8",
        "type": "ui_text",
        "z": "f25cd622.40f3a8",
        "group": "7d0c2b21.9504a4",
        "order": 4,
        "width": "5",
        "height": "1",
        "name": "4-remaining",
        "label": "Time Remaining",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1770,
        "y": 1000,
        "wires": []
    },
    {
        "id": "fbedc6cb.3e7bf8",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Store 4",
        "func": "// sp8Remaining ticking down global variable\n// sp8 time setting for zone, stored in file\n\n\n// store in file to survive restart\nflow.set(\"s4\", msg.payload, \"storeInFile\");\n\n\n// store in global for calculations\nglobal.set(\"sp4\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "d1cf668d.fdca18",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "4 Remaining Set",
        "func": "var g = global.get(\"sp4\") + 1;\nglobal.set(\"sp4Remaining\",g);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1360,
        "y": 960,
        "wires": [
            [
                "9adcb962.613b48"
            ]
        ]
    },
    {
        "id": "9adcb962.613b48",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "4 Remaining Minus",
        "func": "\nvar msg2 = {};\nvar r = global.get(\"sp4Remaining\");\n\n\nif (r > 0) {\n    r -= 1;\n    \n    msg.payload = 0;\n    }\n    \n    \nif (r < 1) {\n     msg.payload = 1;\n     \n    }\n    \nglobal.set(\"sp4Remaining\",r)  \nmsg2.payload = r;\n\n\nreturn [msg, msg2];\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 1590,
        "y": 1000,
        "wires": [
            [
                "c8b3b04b.2363d",
                "57090061.f97ce"
            ],
            [
                "6cc5272a.4160b8"
            ]
        ]
    },
    {
        "id": "f06bbd77.0022a",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "4 Remaining Stop",
        "func": "\nglobal.set(\"sp4Remaining\", 0);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 1000,
        "wires": [
            [
                "9adcb962.613b48"
            ]
        ]
    },
    {
        "id": "e248ae5.c51645",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get 3",
        "func": "\n\nmsg.payload = flow.get(\"s3\", \"storeInFile\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 940,
        "wires": [
            [
                "4a9ebb27.211f54"
            ]
        ]
    },
    {
        "id": "4a9ebb27.211f54",
        "type": "ui_numeric",
        "z": "f25cd622.40f3a8",
        "name": "Time-set 3",
        "label": "Line 3 -- Set Time",
        "tooltip": "",
        "group": "4a372ec2.fb922",
        "order": 1,
        "width": "8",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 450,
        "y": 940,
        "wires": [
            [
                "b7e1093c.fb0d68"
            ]
        ]
    },
    {
        "id": "a28c65cc.ca6018",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Start 3",
        "group": "4a372ec2.fb922",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 1060,
        "wires": [
            [
                "de10d37.8d4fb3"
            ]
        ]
    },
    {
        "id": "8f5bdc2.c53852",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Stop 3",
        "group": "4a372ec2.fb922",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 1100,
        "wires": [
            [
                "48bf5457.973b1c"
            ]
        ]
    },
    {
        "id": "214dd717.476668",
        "type": "ui_text",
        "z": "f25cd622.40f3a8",
        "group": "4a372ec2.fb922",
        "order": 4,
        "width": "5",
        "height": "1",
        "name": "3-remaining",
        "label": "Time Remaining",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1770,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b7e1093c.fb0d68",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Store 3",
        "func": "// sp8Remaining ticking down global variable\n// sp8 time setting for zone, stored in file\n\n\n// store in file to survive restart\nflow.set(\"s3\", msg.payload, \"storeInFile\");\n\n\n// store in global for calculations\nglobal.set(\"sp3\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "de10d37.8d4fb3",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "3 Remaining Set",
        "func": "var g = global.get(\"sp3\") + 1;\nglobal.set(\"sp3Remaining\",g);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 1060,
        "wires": [
            [
                "6e3195a8.f567ac"
            ]
        ]
    },
    {
        "id": "6e3195a8.f567ac",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "3 Remaining Minus",
        "func": "\nvar msg2 = {};\nvar r = global.get(\"sp3Remaining\");\n\n\nif (r > 0) {\n    r -= 1;\n    \n    msg.payload = 0;\n    }\n    \n    \nif (r < 1) {\n     msg.payload = 1;\n     \n    }\n    \nglobal.set(\"sp3Remaining\",r)  \nmsg2.payload = r;\n\n\nreturn [msg, msg2];\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 1590,
        "y": 1100,
        "wires": [
            [
                "905e1b28.92aa98",
                "c0a871c4.c0632"
            ],
            [
                "214dd717.476668"
            ]
        ]
    },
    {
        "id": "48bf5457.973b1c",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "3 Remaining Stop",
        "func": "\nglobal.set(\"sp3Remaining\", 0);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 1100,
        "wires": [
            [
                "6e3195a8.f567ac"
            ]
        ]
    },
    {
        "id": "8432a345.f4b13",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get 2",
        "func": "\n\nmsg.payload = flow.get(\"s2\", \"storeInFile\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 980,
        "wires": [
            [
                "a43414d1.ced728"
            ]
        ]
    },
    {
        "id": "a43414d1.ced728",
        "type": "ui_numeric",
        "z": "f25cd622.40f3a8",
        "name": "Time-set 2",
        "label": "Line 2 -- Set Time",
        "tooltip": "",
        "group": "da27fc66.7cdb9",
        "order": 1,
        "width": "8",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 450,
        "y": 980,
        "wires": [
            [
                "1ac201e.fa0f2fe"
            ]
        ]
    },
    {
        "id": "5d547efb.485e",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Start 2",
        "group": "da27fc66.7cdb9",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 1160,
        "wires": [
            [
                "638955b8.c9e43c"
            ]
        ]
    },
    {
        "id": "b1626690.537dc8",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Stop 2",
        "group": "da27fc66.7cdb9",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 1200,
        "wires": [
            [
                "be3a7de3.0d884"
            ]
        ]
    },
    {
        "id": "be339ca4.4db25",
        "type": "ui_text",
        "z": "f25cd622.40f3a8",
        "group": "da27fc66.7cdb9",
        "order": 4,
        "width": "5",
        "height": "1",
        "name": "2-remaining",
        "label": "Time Remaining",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1770,
        "y": 1200,
        "wires": []
    },
    {
        "id": "1ac201e.fa0f2fe",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Store 2",
        "func": "// sp8Remaining ticking down global variable\n// sp8 time setting for zone, stored in file\n\n\n// store in file to survive restart\nflow.set(\"s2\", msg.payload, \"storeInFile\");\n\n\n// store in global for calculations\nglobal.set(\"sp2\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "638955b8.c9e43c",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "2 Remaining Set",
        "func": "var g = global.get(\"sp2\") + 1;\nglobal.set(\"sp2Remaining\",g);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 1160,
        "wires": [
            [
                "2cd6ee9e.ba7d72"
            ]
        ]
    },
    {
        "id": "2cd6ee9e.ba7d72",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "2 Remaining Minus",
        "func": "\nvar msg2 = {};\nvar r = global.get(\"sp2Remaining\");\n\n\nif (r > 0) {\n    r -= 1;\n    \n    msg.payload = 0;\n    }\n    \n    \nif (r < 1) {\n     msg.payload = 1;\n     \n    }\n    \nglobal.set(\"sp2Remaining\",r)  \nmsg2.payload = r;\n\n\nreturn [msg, msg2];\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 1590,
        "y": 1200,
        "wires": [
            [
                "352f886a.199148",
                "99a1a21c.678f1"
            ],
            [
                "be339ca4.4db25"
            ]
        ]
    },
    {
        "id": "be3a7de3.0d884",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "2 Remaining Stop",
        "func": "\nglobal.set(\"sp2Remaining\", 0);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 1200,
        "wires": [
            [
                "2cd6ee9e.ba7d72"
            ]
        ]
    },
    {
        "id": "2e815779.ac9958",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get 1",
        "func": "\n\nmsg.payload = flow.get(\"s1\", \"storeInFile\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 1020,
        "wires": [
            [
                "1ffc571f.6e6f49"
            ]
        ]
    },
    {
        "id": "1ffc571f.6e6f49",
        "type": "ui_numeric",
        "z": "f25cd622.40f3a8",
        "name": "Time-set 1",
        "label": "Line 1 -- Set Time",
        "tooltip": "",
        "group": "6feae7e8.762c38",
        "order": 1,
        "width": "8",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 450,
        "y": 1020,
        "wires": [
            [
                "b9b9d9d6.e572e8"
            ]
        ]
    },
    {
        "id": "8d8a5d7a.6100e",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Start 1",
        "group": "6feae7e8.762c38",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 1260,
        "wires": [
            [
                "22cf01dc.23ad4e"
            ]
        ]
    },
    {
        "id": "2423e76d.872438",
        "type": "ui_button",
        "z": "f25cd622.40f3a8",
        "name": "Stop 1",
        "group": "6feae7e8.762c38",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1130,
        "y": 1300,
        "wires": [
            [
                "74597fe0.1fa9c"
            ]
        ]
    },
    {
        "id": "76d581bf.82096",
        "type": "ui_text",
        "z": "f25cd622.40f3a8",
        "group": "6feae7e8.762c38",
        "order": 4,
        "width": "5",
        "height": "1",
        "name": "1-remaining",
        "label": "Time Remaining",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1770,
        "y": 1300,
        "wires": []
    },
    {
        "id": "b9b9d9d6.e572e8",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Store 1",
        "func": "// sp8Remaining ticking down global variable\n// sp8 time setting for zone, stored in file\n\n\n// store in file to survive restart\nflow.set(\"s1\", msg.payload, \"storeInFile\");\n\n\n// store in global for calculations\nglobal.set(\"sp1\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "22cf01dc.23ad4e",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "1 Remaining Set",
        "func": "var g = global.get(\"sp1\") + 1;\nglobal.set(\"sp1Remaining\",g);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 1260,
        "wires": [
            [
                "b95c3244.9bf3c"
            ]
        ]
    },
    {
        "id": "b95c3244.9bf3c",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "1 Remaining Minus",
        "func": "\nvar msg2 = {};\nvar r = global.get(\"sp1Remaining\");\n\n\nif (r > 0) {\n    r -= 1;\n    \n    msg.payload = 0;\n    }\n    \n    \nif (r < 1) {\n     msg.payload = 1;\n     \n    }\n    \nglobal.set(\"sp1Remaining\",r)  \nmsg2.payload = r;\n\n\nreturn [msg, msg2];\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 1590,
        "y": 1300,
        "wires": [
            [
                "9a5a8463.fdc728",
                "4fd2082e.681c98"
            ],
            [
                "76d581bf.82096"
            ]
        ]
    },
    {
        "id": "74597fe0.1fa9c",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "1 Remaining Stop",
        "func": "\nglobal.set(\"sp1Remaining\", 0);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 1300,
        "wires": [
            [
                "b95c3244.9bf3c"
            ]
        ]
    },
    {
        "id": "713cc728.538538",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "10:00 pm start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "01 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 460,
        "wires": [
            [
                "14331406.2338dc"
            ]
        ]
    },
    {
        "id": "c5f2f2db.76537",
        "type": "ui_template",
        "z": "f25cd622.40f3a8",
        "group": "8e3f3444.167218",
        "name": "Settings Link",
        "order": 1,
        "width": "2",
        "height": "1",
        "format": "<style>\n/* unvisited link */\na:link {\n  color: white;\n}\n\n/* visited link */\na:visited {\n  color: white;\n}\n\n/* mouse over link */\na:hover {\n  color: hotpink;\n}\n\n/* selected link */\na:active {\n  color: blue;\n}\n</style>\n<a href=\"http://192.168.1.204:1880\" target=\"_blank\">SETTINGS</a>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 150,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "2a6cb256.2b8c5e",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "10:30 pm start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 560,
        "wires": [
            [
                "8211aa94.51c548"
            ]
        ]
    },
    {
        "id": "77b30625.fac708",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "11:00 pm start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "01 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 660,
        "wires": [
            [
                "53ec88a7.217958"
            ]
        ]
    },
    {
        "id": "62cfaae8.d3a804",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "11:30 pm start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 760,
        "wires": [
            [
                "d4335ba.6fbb8a8"
            ]
        ]
    },
    {
        "id": "7cd738c4.8373d8",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "2:00 am start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "01 02 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 960,
        "wires": [
            [
                "989ceb8c.ce5698"
            ]
        ]
    },
    {
        "id": "b3686d8f.60114",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "2:30am start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 02 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 1060,
        "wires": [
            [
                "94a0d922.875fb8"
            ]
        ]
    },
    {
        "id": "3b99e15e.8b290e",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "3:30 am start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 1260,
        "wires": [
            [
                "58888c35.0e1af4"
            ]
        ]
    },
    {
        "id": "778ff5fc.ecc1ac",
        "type": "inject",
        "z": "f25cd622.40f3a8",
        "name": "3:00 am start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "01 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 1160,
        "wires": [
            [
                "d61b25bf.3d7598"
            ]
        ]
    },
    {
        "id": "14449d0b.6843f3",
        "type": "ui_switch",
        "z": "f25cd622.40f3a8",
        "name": "Run Program",
        "label": "Run Watering Program",
        "tooltip": "Turn on automatic watering",
        "group": "8e3f3444.167218",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 450,
        "y": 1100,
        "wires": [
            [
                "cdad58ab.f86cb8",
                "e32786ae.3d2f18"
            ]
        ]
    },
    {
        "id": "e32786ae.3d2f18",
        "type": "ui_led",
        "z": "f25cd622.40f3a8",
        "group": "8e3f3444.167218",
        "order": 3,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "blue",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED",
        "x": 610,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ed15e7db.d3e488",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get rp",
        "func": "\n\nmsg.payload = flow.get(\"rp\", \"storeInFile\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 1100,
        "wires": [
            [
                "14449d0b.6843f3"
            ]
        ]
    },
    {
        "id": "cdad58ab.f86cb8",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Store 1",
        "func": "// rp is run program variable\n\n\n\n// store in file to survive restart\nflow.set(\"rp\", msg.payload, \"storeInFile\");\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "14331406.2338dc",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get rp",
        "func": "\n\nvar check = flow.get(\"rp\", \"storeInFile\");\n\nif (check === 1) {\n    //if check = 1 then return meassage to run sprinkler\n    \n    msg.payload = check // for debugging\n    \n    return msg;\n    \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 460,
        "wires": [
            [
                "f9a025d.71aa9d8",
                "b105ea29.7a6058"
            ]
        ]
    },
    {
        "id": "8211aa94.51c548",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get rp",
        "func": "\n\nvar check = flow.get(\"rp\", \"storeInFile\");\n\nif (check === 1) {\n    //if check = 1 then return meassage to run sprinkler\n    return msg;\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 560,
        "wires": [
            [
                "d7e9a708.ea3188"
            ]
        ]
    },
    {
        "id": "53ec88a7.217958",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get rp",
        "func": "\n\nvar check = flow.get(\"rp\", \"storeInFile\");\n\nif (check === 1) {\n    //if check = 1 then return meassage to run sprinkler\n    return msg;\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 660,
        "wires": [
            [
                "dffd532c.94cb5"
            ]
        ]
    },
    {
        "id": "d4335ba.6fbb8a8",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get rp",
        "func": "\n\nvar check = flow.get(\"rp\", \"storeInFile\");\n\nif (check === 1) {\n    //if check = 1 then return meassage to run sprinkler\n    return msg;\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 760,
        "wires": [
            [
                "b3b8a19e.b9511"
            ]
        ]
    },
    {
        "id": "989ceb8c.ce5698",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get rp",
        "func": "\n\nvar check = flow.get(\"rp\", \"storeInFile\");\n\nif (check === 1) {\n    //if check = 1 then return meassage to run sprinkler\n    return msg;\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 960,
        "wires": [
            [
                "aa7d3d0.c696ec"
            ]
        ]
    },
    {
        "id": "94a0d922.875fb8",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get rp",
        "func": "\n\nvar check = flow.get(\"rp\", \"storeInFile\");\n\nif (check === 1) {\n    //if check = 1 then return meassage to run sprinkler\n    return msg;\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1060,
        "wires": [
            [
                "a28c65cc.ca6018"
            ]
        ]
    },
    {
        "id": "d61b25bf.3d7598",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get rp",
        "func": "\n\nvar check = flow.get(\"rp\", \"storeInFile\");\n\nif (check === 1) {\n    //if check = 1 then return meassage to run sprinkler\n    return msg;\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1160,
        "wires": [
            [
                "5d547efb.485e"
            ]
        ]
    },
    {
        "id": "58888c35.0e1af4",
        "type": "function",
        "z": "f25cd622.40f3a8",
        "name": "Get rp",
        "func": "\n\nvar check = flow.get(\"rp\", \"storeInFile\");\n\nif (check === 1) {\n    //if check = 1 then return meassage to run sprinkler\n    return msg;\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1260,
        "wires": [
            [
                "8d8a5d7a.6100e"
            ]
        ]
    },
    {
        "id": "b105ea29.7a6058",
        "type": "debug",
        "z": "f25cd622.40f3a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1160,
        "y": 380,
        "wires": []
    }
]